nav {
    padding: 14px 0 !important;
    background-color: white;
}
.company-icon {
    padding-left: 12%;
}
.navbar-collapse {
    padding-right:12%;
}
.report-button {
    height: 54px; 
    width: 162px;
    background-color: #FE000C;
    box-shadow: 0px 1px 2px 0px #1018280D;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 20px;
    padding: 10px, 18px, 10px, 18px;
    border-radius: 8px;
    gap: 8px;

}
.report-button-xs {
    margin-left: auto;
    margin-right: 5px;
}
.nav-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    padding-left: 15px;
}
.navbar-toggler {
    margin-right: 2%;
}

@media screen and (max-width: 576px) {
    .navbar-toggler {
        margin-right: 6%;
    }
    .company-icon {
        padding-left: 6%;
    }
    .nav-link {
        text-align: right;
    }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
    .navbar-toggler {
        margin-right: 6%;
    }
    .company-icon {
        padding-left: 6%;
    }
    .nav-link {
        text-align: right;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    .navbar-collapse {
        padding-right: 1%;
    }
    .company-icon {
        padding-left: 1%;
    }
    .nav-link {
        padding: 0px;
    }
    .report-button {
        margin-left: 10px;
    }
}
@media screen and (min-width: 993px) and (max-width: 1090px) {
    .navbar-collapse {
        padding-right: 4%;
    }
    .company-icon {
        padding-left: 4%;
    }
    .nav-link {
        padding: 0 5px;
    }
    .report-button {
        margin-left: 10px;
    }
}